.App {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.header-add-user {
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal-new-user-footer {
  text-align: right;
  margin-top: 20px;
}

.field-input-group {
  margin-bottom: 20px;
}
.header-add-user{
  display: flex;
  align-items: center;
}

#motgiua{
display: flex;
justify-content: center;
gap: 11px;
}
.ant-btn-warning{
  background-color: #f5b700;
  color: white;
}
.btn:first-child:hover{
  color: white;
}
input.form-control {
  height:32px;
}
.ant-btn-dashed:hover{
  color: #45ce4b;
  border-color: #45ce4b;
}